@{
    ViewData["Title"] = "About";
}

<style>
    #mainBox {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        background-color: black;
        min-height: 1200px;
        color: white;
    }

    body {
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 13px;
        color: #161616;
        background-color: dimgrey;
    }
</style>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
