@{
    ViewData["Title"] = "Contact";
}
<style>
    #mainBox {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        background-color: black;
        min-height: 1200px;
        color: white;
    }

    body {
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        font-size: 13px;
        color:black;
        background-color: dimgrey;
    }
</style>

<h2>@ViewData["Title"] below for more Information.</h2>


<address>
    GummyBearKingom way<br />
    portland, OR 92712<br />
    <abbr title="phone">p:</abbr>
    425.555.0100
</address>

<address>
    <strong>support:</strong> <a href="mailto:eluts15dev@gmail.com" style="color:white;">eluts15dev@gmail.com</a><br />
    <strong>marketing:</strong> <a href="mailto:marketing@example.com" style="color:white;">marketing@example.com</a>
</address>
