@{
    ViewData["Title"] = "Home Page";
}
<!--Add flexbox-->
<style>
    #mainBox {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        background-color: black;
        min-height:1200px;
        color: white;
    }

    body {
     font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
     font-size: 13px; 
     color: #161616;
     background-color: dimgrey;
    }

    .caption {
        clear: both;
        background-color: #161616;
        color: white;
        min-height: 60px;
        line-height: 60px;
        font-size: 32px;
        padding: 20px;
        vertical-align: middle;
        width: 900px;
    }

    div#overview.caption {
    
    }

    #headerGummyBearsAreAwesome {
        margin:0;
        padding:0;
        width:900px;
        height:350px;
        background:url('https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwallup.net%2Fwp-content%2Fuploads%2F2016%2F01%2F202017-humor-gummy_bears.jpg&f=1') right no-repeat;
        background-size: 900px; 
    }

    #GummyButton {
    margin: 0;
    padding: 0;
    float: left;
    width: 100px;
    height: 100px;
    background: #151515  center no-repeat;
}

    .half {
        display:flex;
    }

        .half div {
            padding:10px;
        }

    .box-1 {
        flex: 2;
        order: 2;
    }
    .box-2 {
        flex: 1;
        order: 1;
    }
    .box-1 {
        flex: 1;
        order: 3;
    }
 
 

</style>


<div id="mainBox">


    <div id="headerGummyBearsAreAwesome"></div>

    <div class="caption" id="overview"> GummyBearKingdom: RPG for GummyBears <a class="top" href="#">Back to top</a></div>
    <div class="half">
        <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fmedia-cache-ec0.pinimg.com%2F736x%2F58%2F6c%2Ffe%2F586cfe7bbdfe0cef02f1d977c90dc3d2.jpg&f=1">
    </div>
    <div class="half">
        <div class="page"><br />
            <p class="box-1">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
            </p>
            <p class="box-2">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>

            <p class="box-3">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>

            <p><b>Sick Gummy Bear Weapons can be purchased from our Products Section above.</b> (tentative)</p><p>
            </p><ul>
                <li>Gold Gummy Bear Battle Axe</li>
                <li>Gold Gummy Bear Battle Staff</li>
                <li>Gold Gummy Bear Battle Wand</li>
                <li>This Game will be pay to win so click here to win...</li>
            </ul>

        </div>
    </div>

</div>
